*,
:after,
:before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: #dbe2ef;
  font-family: "Lato", sans-serif;
}

body > img {
  display: none;
}

body.pop {
  overflow: hidden;
}

#main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-bottom: 8rem;
}
#main .section {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20rem;
  overflow: hidden;
  height: 14rem;
  transition: 0.4s;
  flex-direction: column;
  position: relative;
  border: 1px solid white;
  border-radius: 1rem;
  background-color: #0a1d37;
  gap: 2rem;
}
#main .section::after {
  content: "</> Click for code";
  color: white;
  padding: 0;
  margin: 0;
  font-family: "Courier New", Courier, monospace;
  font-size: smaller;
}
#main .section::before {
  content: " ";
}
#main .section:hover {
  background: #00001a;
  transform: translateY(-5px);
}

@media (max-width: 768px) {
  #main .section {
    width: 50%;
  }
}

@media (max-width: 480px) {
  #main .section {
    width: 100%;
  }
}

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.418);
  z-index: 2000;
  visibility: hidden;
  opacity: 0;
  overflow-y: auto;
}
.overlay.in {
  visibility: visible;
  opacity: 1;
}

.btn-close {
  position: absolute;
  top: 18px;
  right: 16px;
  z-index: 5;
  line-height: 20px;
  height: 20px;
  width: 30px;
  font-size: 35px;
  font-weight: 900 !important;
  color: red !important;
  padding: 0;
  background: none;
  border: none;
  outline: 0;
  cursor: pointer;
}
.popup {
  position: relative;
  transform: translateY(calc(-80%));
  background: #dbe2ef;
  padding: 14px;
  top: 50vh;
  max-width: 540px;
  margin: auto;
  transition: 0.2s ease-in;
  border-radius: 4px;
}

.in .popup {
  transform: translateY(calc(-49%));
}

.showcase {
  background: #0a1d37;
  border-radius: 4px;
  margin-bottom: 10px;
}

.showcase .section {
  width: 100%;
  height: 248px;
  padding: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
}

.code-area .code-header {
  padding: 8px 10px;
  background: #222;
  border-radius: 4px;
  color: #fff;
  font-size: 14px;
  position: relative;
  font-family: "Lato", sans-serif;
  letter-spacing: 2px;
}

.code-area + .code-area {
  margin-top: 10px;
}

.copy {
  outline: 0;
  border: none;
  background: none;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  color: #fff;
  padding: 3px 8px;
  cursor: pointer;
  user-select: none;
}

.copy::before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 12px;
  border: 1px solid #fff;
  box-shadow: 2px -2px #000, 3px -3px;
  margin-right: 8px;
  position: relative;
  top: 3px;
}

code {
  background: #000;
  padding: 5px 8px;
  display: block;
  white-space: pre;
  color: #03a9f4;
  overflow: auto;
  min-height: 30px;
  font-size: 14px;
  line-height: 18px;
  border-radius: 4px;
}

#markup {
  color: #f4a003;
  overflow: auto;
  max-height: 100px;
}

#css {
  max-height: 242px;
  overflow: auto;
}

div[data-id="prog-crak-erh"] {
  justify-content: flex-start !important;
}

/* **************************** */
@media (min-width: 992px) {
  .bd-layout {
    display: grid;
    grid-template-areas: "sidebar main";
    grid-template-columns: 1.2fr 5fr;
    gap: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .bd-layout {
    grid-template-columns: 1fr 5fr;
  }
}

.bd-sidebar {
  grid-area: sidebar;
  background-color: #0a1d37;
  padding-top: 1.5rem;
  border-radius: 8px;
}

@media (min-width: 992px) {
  .bd-sidebar {
    position: -webkit-sticky;
    position: sticky;
    top: 5rem;
    display: block !important;
    height: calc(100vh - 6rem);
    padding-left: 12%;
    /* margin-left: -0.25rem; */
    overflow-y: auto;
  }
}

.bd-main {
  grid-area: main;
}

blockquote {
  border-left: 6px solid #d80032;
  padding-left: 1rem;
  margin: 1em;
  margin-left: 0;
  position: relative;
}

blockquote h3 {
  color: white;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
}

blockquote h3::after {
  content: "";
  border-top: 0.5px solid #d2d2d4af;
  width: 92%;
  height: 1px;
  position: absolute;
  bottom: -15px;
  left: -6px;
}

.bd-links {
  list-style-type: none;
  padding: 0;
  padding-top: 5px;
}

.bd-links-title {
  margin-top: 0.5rem;
  margin-left: -10px;
}

.bd-links-title a {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  letter-spacing: 1px;
  color: #e7e7e9;
  font-size: 1.2rem;
  display: block;
  padding: 12px;
  padding-left: 15px;
  margin-right: 20px;
  border-radius: 8px;
  transition: all 0.2s ease-in-out;
}

.bd-links a:hover {
  background-color: #525e6ed5;
}

.bd-links-title i {
  margin-right: 10px;
}

/* ********************************* */
.hbtn {
  position: relative;
  box-sizing: border-box;
  display: inline-block;
  overflow: hidden;
  padding: 15px 40px;
  margin: 0 3px 6px 3px;
  text-align: center;
  border: solid 2px #ffffff;
  text-decoration: none;
  color: #ffffff;
  white-space: nowrap;
  z-index: 0;
  border-radius: 4px;
}
